$pillgothic: pill-gothic-600mg, sans-serif;
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin transparent-white {
	background: rgb(256,256,256);
	background: rgba(256,256,256,0.7);
}
@font-face {
	font-family: "Flaticon";
	src: url("fonts/flaticon.eot");
	src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("fonts/flaticon.woff") format("woff"),
	url("fonts/flaticon.ttf") format("truetype"),
	url("fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Searchicon";
	src: url("fonts/search.eot");
	src: url("fonts/search.eot#iefix") format("embedded-opentype"),
	url("fonts/search.woff") format("woff"),
	url("fonts/search.ttf") format("truetype"),
	url("fonts/search.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: $pillgothic;
	font-weight: 400;
	font-size: 16px;
	line-height: 1em;
	color: $bodycolor;
}
img {
  max-width: 100%;
  margin-bottom: 0.5em;
  margin-left: -1px;
  margin-right: -1px;
  display: block;
}
p {
	font-size: 1em;
	line-height: 1.4375em;
	margin-bottom: 15px;
}
h1, h2, h3, h4, h5 {
	margin: 0 0 10px 0;
	line-height: 1em;
	color: $darkblue;
}
h1 {
	font-size: em(34);
}
h2 {
	font-size: rem(28);
}
h3 {
	font-size: rem(22);
}
h4 {
	font-size: rem(18);
}
sup, sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
a, a:visited {
	color: $lightblue;
	text-decoration: none; 
	outline: 0; 
	-webkit-transition: all .1s linear; 
	-moz-transition: all .1s linear; 
	-o-transition: all .1s linear; 
	transition: all .1s linear;
}
a:hover, a:focus {
	color: $darkblue;
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}
ul {
	margin: 0 0 15px 30px;
	li {
		list-style: disc;
		line-height: 1.75em;
		ul {
			margin-bottom: 0;
		}
	}
}
.mobilenav {
	width: 100%;
	position: absolute;
	left: -100%;
	top: 0;
	height: 100%;
	background: #777;
	display: none;
	z-index: 999;
	@include media($tablet) {
		display: block;
	}
}
.mobilemenu {
	position: absolute;
	width: 35px;
	height: 30px;
	top: 20px;
	right: 20px;
	z-index: 9999;
}
.mobilemenu span {
	@include margin(0 auto);
	position: relative;
	top: 12px;
}
.mobilemenu span:before, .mobilemenu span:after {
	position: absolute;
	content: '';
}
.mobilemenu span, .mobilemenu span:before, .mobilemenu span:after {
	width: 35px;
	height: 6px;
	background-color: $darkblue;
	display: block;
	border-radius: 4px;
}
.mobilemenu span:before {
	@include margin(-12px 0 0 0);
}
.mobilemenu span:after {
	@include margin(12px 0 0 0);
}
.collapse span {
	transition-duration: 0s;
	transition-delay: .2s;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: .2s;
}
.collapse.open span {
	background-color: rgba(256,256,256,0.0);
	transition-delay: .2s;
	-webkit-transition-delay: .2s;
}
.collapse span:before {
	transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;
	-webkit-transition-property: margin, transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0;
}
.collapse.open span:before {
	margin-top: 0;
	transform: rotate(45deg);
	transition-delay: 0, .2s;
	-webkit-transform: rotate(45deg);
	-webkit-transition-delay: 0, .2s;
}
.collapse span:after {
	transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;
	-webkit-transition-property: margin, transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0;
}
.collapse.open span:after {
	margin-top: 0;
	transform: rotate(-45deg);
	transition-delay: 0, .2s;
	-webkit-transform: rotate(-45deg);
	-webkit-transition-delay: 0, .2s;
}
.logo {
	float: left;
	margin: 20px 0 20px 100px;
	@include media($smallscreen) {
		margin-left: 20px;
	}
	@include media($tablet) {
		margin-left: 20px;
	}
}
.topnav {
	float: right;
	margin: 20px 100px 20px 0;
	@include media($smallscreen) {
		margin-right: 20px;
	}
	@include media($tablet) {
		margin-right: 20px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 3px 10px 0 5px;
			list-style: none;
			display: inline-block;
			font-size: 0.875em;
			line-height: 1em;
			border-right: 1px solid $darkblue;
			a, a:visited {
				color: $darkblue;
			}
			a:hover, a:focus {
				color: $lightblue;
			}
		}
		li:last-child {
			padding-right: 0;
			border-right: 0;
		}
		li.searchlink a:before, li.searchlink a:after {
			font-family: Searchicon;
	        font-size: 1.5em;
			font-style: normal;
			vertical-align: middle;
			margin-left: 3px;
		}
		li.searchlink a:after {
			content: "\e000";
		}
	}
	.searchbox {
		background: $lightblue;
		padding: 10px 10px 8px;
		margin: 8px 0 0;
		span {
			display: inline-block;
			color: $white;
			font-size: 0.875em;
		}
		form {
			display: inline-block;
			input {
				background: $white;
				color: $lightblue;
				border: 0;
				padding: 5px 10px;
				margin-left: 8px;
				width: 228px;
				@include border-top-radius(3px);
				@include border-right-radius(3px);
				@include border-bottom-radius(3px);
				@include border-left-radius(3px);
			}
		}
	}
}
.mainnav {
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			margin: 0 20px;
			padding: 0;
			list-style: none;
			display: inline;
			font-size: em(20);
			line-height: 1em;
			@include media($widescreen) {
				margin: 0 10px;
			}
			@include media($smallscreen) {
				margin: 0;
				font-size: em(18);
			}
			@include media($tablet) {
				font-size: em(16);
			}
			a, a:visited {
				padding: 20px 20px 15px;
				color: $darkblue;
				display: inline-block;
				@include media($tablet) {
					padding: 20px 10px 15px;
				}
			}
			a:hover, a:focus {
				color: $lightblue;
				padding-top: 17px;
				border-top: 3px solid $lightblue;
			}
		}
		li.current_page_item a, li.current_page_parent a {
			color: $lightblue;
			padding-top: 17px;
			border-top: 3px solid $lightblue;
		}
	}
}
.changebanner {
	h3 {
		color: $white;
		font-size: em(80);
		line-height: 1em;
		@include media($smallscreen) {
			font-size: em(60);
		}
	}
	a, a:visited {
		color: $white;
		font-size: em(18);
	}
	a:hover, a:focus {
		color: $white;
		text-decoration: underline;
	}
}
.pictures {
	background: $lightblue;
	section {
		position: relative;
	}
	.offset-10 {
		min-height: 446px;
		@include media($widescreen) {
			min-height: 412px;
		}
		@include media($smallscreen) {
			min-height: 382px;
		}
		@include media($tablet) {
			min-height: 237px;
		}
		@include media($mobile) {
			/*min-height: 180px;*/
			min-height: 0;
		}
	}
	.closebtn {
		fill: $white;
		position: absolute;
		right: 0;
		top: 0;
		height: 30px;
		width: 30px;
		opacity: 0.6;
		-webkit-transition: all .1s linear; 
		-moz-transition: all .1s linear; 
		-o-transition: all .1s linear; 
		transition: all .1s linear;
		@include media($widescreen) {
			right: 20px;
		}
		@include media($mobile) {
			top: -39px;
		}
	}
	.closebtn:hover {
		opacity: 1.0;
		cursor: pointer;
	}
}
#carousel {
	@include media($tablet) {
		display: none;
	}
}
.callouts {
	h4 {
		color: $white;
		font-size: em(20);
		line-height: 1em;
	}
	.weatherinfo {
		margin: 20px 0 3px;
		p {
			margin: 0;
			color: $darkblue;
		}
		p.temp {
			font-size: em(70);
			@include media($tablet) {
				font-size: em(60);
			}
			line-height: 1em;
			margin-top: 5px;
			span {
				font-size: 75%;
				@include media($tablet) {
					font-size: 65%;
					top: -0.35em;
				}
				line-height: 0;
				top: -0.25em;
				position: relative;
			}
		}
		p.wstatus:before, p.wstatus:after {
			font-family: Flaticon;
	        font-size: em(24);
			font-style: normal;
			vertical-align: middle;
			margin-right: 3px;
		}
		p.clear:before {
			content: "\e006";
		}
		p.fewclouds:before {
			content: "\e006";
		}
		p.cloudy:before {
			content: "\e001";
		}
		p.storm:before {
			content: "\e003";
		}
		p.rain:before {
			content: "\e000";
		}
		p.snow:before {
			content: "\e002";
		}
		p.alert:before {
			content: "\e007";
		}
		p.noinfo:before {
			content: "\e004";
			font-size: em(40);
		}
	}
}
.home .callouts {
	h4 {
		color: $darkblue;
	}
	.col-6 {
		margin-right: 1.6949152542%;
	}
}
#promoslider {
	margin: 0 auto;
}
.bjqs-wrapper {
	img {
		margin: 0;
	}
}
ul.bjqs {
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	display:none;
	li.bjqs-slide {
		position:absolute;
		display:none;
		list-style: none;
	}
}
ul.bjqs-controls {
	list-style:none;
	margin:0;
	padding:0;
	z-index:9999;
}
ul.bjqs-controls.v-centered {
	 li {
	 	list-style: none;
		a, a:visited {
			position:absolute;
			display: block;
  			text-indent: -9999px;
  			width: 40px;
  			height: 40px;
  			opacity: 0.6;
		}
		a:hover, a:focus {
			opacity: 1.0;
		}
	}
	li.bjqs-next a {
		right: 20px;
		background: url(../images/arrow-next.svg) no-repeat 0 0;
		background-size: 40px 40px;
	}
	li.bjqs-prev a {
		left: 20px;
		background: url(../images/arrow-back.svg) no-repeat 0 0;
		background-size: 40px 40px;
	}
} 
ol.bjqs-markers, ul.slidenav {
	list-style: none; 
	padding: 0; 
	margin: 5px 0 0; 
	width:100%;
	float: left;
	@include media($tablet) {
		display: none;
	}
	li {
		display: inline-block;
		float: left;
		width: 33.09%;
		margin: 0;
		padding: 10px 0;
		font-size: em(14);
		background: $white;
		color: $lightblue;
		text-align: center;
		@include media($widescreen) {
			width: 33%;
		}
		@include media($smallscreen) {
			width: 33%;
		}
		a, a:visited {
			display: inline-block;
			width: 100%;
			background: $white;
			color: $lightblue;
			padding: 10px 0;
		}
		a:hover, a:focus {
			background: $lightblue;
			color: $white;
		}
	}
	li:nth-child(2) {
		margin: 0 4px;
	}
	li.active-marker a, li.flex-active {
		background: $lightblue;
		color: $white;
	}
	li:hover {
		cursor: pointer;
		background: $lightblue;
		color: $white;
	}
}
ol.bjqs-markers.h-centered {
	text-align: center;
}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
.bottomcallouts {
	section {
		border-right: 1px solid #ccc;
		@include media($widescreen) {
			border-right: 0;
		}
	}
	.inner {
		border-left: 1px solid #ccc;
		padding-left: 20px;
		min-height: 195px;
		@include media($tablet) {
			padding: 0 20px;
		}
		@include media($mobile) {
			border-left: 0;
			border-bottom: 1px solid #ccc;
			min-height: 0;
		}
	}
	h4 {
		color: $white;
		font-size: em(30);
		margin: 0;
		padding: 50px 0;
		text-align: center;
		@include media($smallscreen) {
			padding: 36px 0;
		}
		@include media($mobile) {
			padding: 25px 0 10px;
		}
	}
	a, a:visited {
		display: block;
		font-size: em(14);
		padding-bottom: 10px;
		width: 100%;
		float: left;
		@include media($mobile) {
			float: none;
			padding-bottom: 25px;
		}
		span {
			width: 54%;
			@include media($widescreen) {
				width: 75%;
			}
			@include media($smallscreen) {
				width: 100%;
				text-align: center;
			}
			float: left;
			@include media($mobile) {
				float: none;
				display: block;
			}
		}
	}
	a:hover, a:focus {
		color: $white;
	}
	.circlearrow {
		fill: #53b5d4;
		width: 30px;
		height: 30px;
		float: right;
		-webkit-transition: all .1s linear; 
		-moz-transition: all .1s linear; 
		-o-transition: all .1s linear; 
		transition: all .1s linear;
		@include media($smallscreen) {
			display: none;
		}
	}
	a:hover .circlearrow, a:focus .circlearrow {
		fill: $white;
	}
	.lastinner .circlearrow {
		margin-right: 23px;
	}
	.firstinner {
		@include media($widescreen) {
			border-left: 0;
		}
	}
}
.landing {
	background: url(../images/fpo-landingbg.jpg) no-repeat center center;
	background-size: cover;
	padding: 100px 0;
	@include media($smallscreen) {
		padding: 50px 0;
	}
	ul {
		margin: 0;
		padding: 0;
		float: left;
		width: 100%;
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			float: left;
			width: 25%;
			height: 225px;
			@include media($smallscreen) {
				height: 175px;
			}
			@include media($mobile) {
				width: 50%;
			}
			a, a:visited {
				color: $white;
				text-align: center;
				display: block;
				font-size: em(36);
				line-height: 1em;
				padding: 0 5%;
				width: 100%;
				height: 100%;
				div {
					@include vertical-align;
				}
				@include media($smallscreen) {
					font-size: em(28);
				}
			}
			a:hover, a:focus {
				color: $darkblue;
				@include transparent-white;
			}
		}
		.link-0, .link-1, .link-2, .link-3 {
			border-bottom: 1px solid $white;
		}
		.link-0, .link-1, .link-2, .link-4, .link-5, .link-6 {
			border-right: 1px solid $white;
		}
		@include media($mobile) {
			.link-1, .link-5 {
				border-right: 0;
			}
			.link-4, .link-5 {
				border-bottom: 1px solid $white;
			}
		}
	}
}
.banner {
	background-size: cover;
	min-height: 275px;
	@include media($mobile) { 
		min-height: 150px;
	}
	.col-12 {
		position: relative;
		min-height: 275px;
		@include media($mobile) { 
			min-height: 150px;
		}
	}
}
.content {
	h1 {
		color: $darkblue;
		font-size: em(34);
		line-height: 1em;
		margin-top: 12px;
		margin-bottom: 10px;
	}
}
ul.tabs {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	float: left;
	@include media($widescreen) {
		left: 20px;
	}
	li {
		margin: 0 5px 0 0;
		padding: 0;
		list-style: none;
		float: left;
		a, a:visited {
			background: $white;
			color: $darkblue;
			display: block;
			padding: 20px 35px 12px;
			font-size: em(22);
			line-height: 1em;
		}
		a:hover, a:focus, a.active {
			background: $contentbg;
			color: $darkblue;
		}
	}
}
.widget_nav_menu {
	background: $lightblue;
	padding: 20px 20px 10px;
	margin-bottom: 20px;
	color: $white;
	h3 {
		color: $white;
		font-size: em(22);
		line-height: 1em;
		margin: 0 0 15px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			border-top: 1px solid $white;
			line-height: 1em;
			a, a:visited {
				color: $white;
				display: block;
				width: 100%;
				padding: 15px 0 10px;
			}
			a:hover, a:focus {
				color: $lightblue;
				@include transparent-white;
				padding-left: 15px;
			}
		}
		li.current_page_item a, li.current_page_parent a {
			color: $lightblue;
			@include transparent-white;
			padding-left: 15px;
		}
	}
}
#nav_menu-3, .submenu .widget_nav_menu {
	background: $darkblue;
}
.bordered {
	border-right: 2px solid $gray;
	@include media($mobile) {
		border-right: 0;
	}
}
.Annual_Archive_Widget {
	h3 {
		font-size: em(18);
		line-height: 1em;
		margin-top: 12px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0 0 3px 0;
			padding: 0 0 3px 0;
			font-size: em(14);
			list-style-type: none;
			line-height: 1em;
		}
		ul {
			border-top: 1px solid $gray;
			border-bottom: 1px solid $gray;
			margin: 10px 0 10px 10px;
			padding: 10px 0 0;
		}
	}
}
.blog h1.pagetitle, .archive h1.pagetitle, .category h1.pagetitle {
	font-size: em(20);
	margin-bottom: 25px;
}
article.post, .search-results article.page {
	border-bottom: 2px solid $gray;
	margin: 0 30px 30px 0;
	padding-bottom: 10px;
	h1.post-title, h2.post-title {
		font-size: em(28);
	}
	p.meta {
		font-size: em(13);
		font-style: italic;
	}
}
.single article.post {
	border-bottom: 0;
	padding-bottom: 0;
}
ul.pagination { display: block; height: 24px; margin-left: -5px; margin-bottom: 10px; }
ul.pagination li { float: left; display: block; height: 24px; color: $bodycolor; font-size: 15px; margin-left: 5px; list-style: none; line-height: 1em; }
ul.pagination li a { display: block; padding: 6px 7px 4px; color: #999; }
ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus { border-bottom: solid 2px $darkblue; color: $bodycolor; text-decoration: none; }
ul.pagination li.unavailable a { cursor: default; color: $bodycolor; }
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus { border-bottom: none; }
.page-template-page-groundtransportation {
	.banner {
		.directionform {
			margin: 150px 0 0 60px;
			@include media($widescreen) {
				margin-left: 20px;
			}
			@include media($mobile) {
				margin: 30px 0 20px 20px;
			}
			input {
				display: block;
				background: $white;
				border: 0;
				padding: 18px 50px 15px 15px;
				font-size: em(28);
				line-height: 1em;
				color: $darkblue;
				min-width: 520px;
				font-family: $pillgothic;
				font-weight: 400;
				@include media($mobile) {
					min-width: 0;
					width: 265px;
					font-size: em(16);
					padding: 18px 15px 15px;
				}
			}
			input::-webkit-input-placeholder {
				color: $darkblue;
				font-family: $pillgothic;
				font-weight: 400;
			}
			input:-moz-placeholder {
				color: $darkblue;
				font-family: $pillgothic;
				font-weight: 400;
			}
			input::-moz-placeholder {
				color: $darkblue;
				font-family: $pillgothic;
				font-weight: 400;
			}
			input:-ms-input-placeholder {
				color: $darkblue;
				font-family: $pillgothic;
				font-weight: 400;
			}
		}
	}
	.content {
		h2 {
			font-size: rem(38);
		}
		h2, p {
			padding: 0 60px;
			@include media($widescreen) {
				padding: 0;
			}
		}
		ul {
			margin: 0 0 50px 0;
			padding: 0 60px 40px;
			border-bottom: 1px solid $darkblue;
			float: left;
			width: 100%;
			@include media($widescreen) {
				padding: 0 0 40px;
			}
			li {
				float: left;
				margin: 0 2% 0 0;
				width: 32%;
				list-style: none;
				line-height: 1em;
				@include media($mobile) {
					width: 100%;
				}
				img {
					float: left;
					margin-right: 20px;
				}
				h4 {
					font-size: em(30);
					margin-top: 39px;
				}
			}
			li.last {
				margin: 0 0 15px 0;
				@include media($mobile) {
					margin: 0 0 2% 0;
				}
			}
		}
	}
}
.vendor {
	float: left;
	width: 100%;
	background: #e8eef2;
	margin-bottom: 30px;
	.vendorimage {
		float: left;
		width: 335px;
		@include media($widescreen) {
			width: 32%;
		}
		@include media($mobile) {
			width: 100%;
		}
		img {
			margin: 0;
			width: 100%;
			height: auto;
		}
	}
	.vendorcontent {
		float: left;
		width: 845px;
		@include media($widescreen) {
			width: 68%;
		}
		@include media($mobile) {
			width: 100%;
		}
		.dinertop {
			background: #bfd0db;
			padding: 16px 25px 10px;
			h3 {
				margin: 0;
				font-size: em(26);
				line-height: 1em;
			}
		}
		.dinercontent {
			padding: 15px 25px;
			ul {
				margin: 10px 0 0;
				padding: 0;
				li {
					margin: 0 0 8px;
					padding: 0 0 6px;
					list-style: none;
					border-bottom: 1px solid $bodycolor;
					font-size: em(14);
					line-height: 1em;
					span {
						font-weight: 700;
						width: 90px;
						display: inline-block;
					}
				}
				li:last-child {
					margin: 0;
					padding: 0;
					border: 0;
				}
			}
		}
	}
}
.page-template-page-airlines .vendor {
	background: $white;
}
.page-template-page-airlines .vendor .vendorcontent {
	background: #e8eef2;
	.dinertop {
		@include clearfix;
		h3 {
			float: left;
		}
		span {
			float: right;
			font-size: em(20);
			line-height: 1em;
		}
	}
}
.page-template-page-airlines .vendor .vendorcontent .dinercontent ul li p {
	margin: 0;
	display: inline;
}
.garage {
	background: #e8eef2;
	margin-bottom: 30px;
	.garagetop {
			background: #bfd0db;
			padding: 16px 25px 10px;
			h3 {
				margin: 0;
				font-size: em(26);
				line-height: 1em;
			}
		}
	.garagecontent {
		padding: 15px 25px;
		ul {
			margin: 10px 0 0;
			padding: 0;
			li {
				margin: 0 0 8px;
				padding: 0 0 6px;
				list-style: none;
				border-bottom: 1px solid $bodycolor;
				font-size: em(14);
				line-height: 1em;
				span {
					font-weight: 400;
					width: 400px;
					display: inline-block;
					margin-left: 20px;
					vertical-align: top;
					@include media($widescreen) {
						margin-left: 0;
						width: 100%;
					}
				}
				span.title {
					font-weight: 700;
					width: 65px;
					@include media($widescreen) {
						width: 100%;
					}
				}
			}
			li:last-child {
				margin: 0;
				padding: 0;
				border: 0;
			}
		}
	}
}
#ResultsHeader {
	background: $darkblue;
	color: $white;
	float: left;
	width: 100%;
	border-bottom: 1px solid $gray;
	@include media($mobile) { 
		display: none;
	}
	.flightfield {
		float: left;
		padding: 12px 10px 10px 10px;
	}
	.c1 {
		width: 20%;
	}
	.c2 {
		width: 10%;
	}
	.c3 {
		width: 20%;
	}
	.c4 {
		width: 20%;
	}
	.c5 {
		width: 15%;
	}
	.c6 {
		width: 15%;
	}
}
#Data {
	color: $darkblue;
	float: left;
	width: 100%;
	.flight {
		width: 100%;
		float: left;
		@include media($mobile) { 
			background: $white;
		}
	}
	.even {
		background: $white;
	}
	.flightvalue {
		float: left;
		padding: 12px 10px 10px 10px;
		span {
			font-weight: 700;
			width: 100px;
			display: none;
			@include media($mobile) { 
				display: inline-block;
			}
		}
	}
	.c1 {
		width: 20%;
		@include media($mobile) { 
			width: 100%;
			background: $darkblue;
			color: $white;
		}
	}
	.c2 {
		width: 10%;
		@include media($mobile) { 
			width: 100%;
			border-bottom: 1px solid $darkblue;
		}
	}
	.c3 {
		width: 20%;
		@include media($mobile) { 
			width: 100%;
			border-bottom: 1px solid $darkblue;
		}
	}
	.c4 {
		width: 20%;
		@include media($mobile) { 
			width: 100%;
			border-bottom: 1px solid $darkblue;
		}
	}
	.c5 {
		width: 15%;
		@include media($mobile) { 
			width: 100%;
			border-bottom: 1px solid $darkblue;
		}
	}
	.c6 {
		width: 15%;
		@include media($mobile) { 
			width: 100%;
			border-bottom: 1px solid $darkblue;
		}
	}
}
ul.tabber {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-block;
		a, a:visited {
			padding: 12px 15px 8px;
			margin-right: 12px;
			display: block;
			@include media($tablet) { 
				margin-right: 0;
			}
		}
		a:hover, a:focus, a.active {
			background: $lightgray;
			color: $darkblue;
		}
	}
}
dl {
	margin: 0 0 30px 0;
	padding: 20px 20px 5px;
	background: $lightgray;
	dt {
		margin: 0 0 12px 0;
		padding: 0 0 9px 0;
		border-bottom: 1px solid $gray;
	}
	dd {
		background: $white;
		padding: 15px 20px 1px;
		margin: 0 0 15px 0;
		font-size: rem(14);
		p {
			margin: 0 0 10px 0;
		}
		ul {
			margin: 0 0 10px 30px;
			li {
				list-style: disc;
				line-height: 1.75em;
			}
		}
	}
}
.page-id-39 .content h4 {
	background: $lightgray;
	padding: 12px 10px 7px;
}
.fsearch {
	float: left;
	width: 100%;
	background: $lightblue;
	color: #fff;
	@include padding(20px 20px 10px);
	@include margin(0 0 40px 0);
	#{$all-text-inputs} {
		border: 1px solid $gray;
		background: $white;
		-webkit-appearance: none;
		@include border-top-radius(0);
		@include border-bottom-radius(0);
		display: block;
		width: 49%;
		@include margin(0 0 12px 2%);
        @include padding(11px 15px 10px);
        font-size: rem(16);
        color: $darkblue;
	}
	input[type=text] {
		@include margin(-53px 0 12px 51%);
	}
	input[type=radio] {
	    display: none;
	    @include margin(10px);
	}
	input[type=radio] + label {
	    display:inline-block;
	    @include padding(7px 12px 4px);
	    @include margin(0 0 12px 0);
	    background-color: $lightblue;
	    cursor: pointer;
	    -webkit-transition: all .1s linear; 
		-moz-transition: all .1s linear; 
		-o-transition: all .1s linear; 
		transition: all .1s linear;
	}
	input[type=radio]:checked + label {
		background-image: none;
	    background-color: $darkblue;
	}
	input[type=radio] + label:hover {
		background-image: none;
	    color: $darkblue;
	}
	input[type=radio]:checked + label:hover {
	    color: $white;
	}
	select {
        position: absolute;
        top: 0;
        left: 0;
        @include margin(0 0 12px 0);
        width: 100%;
        @include padding(10px 0);
        height: 40px;
        border-color: $gray;
        opacity: 0;
        -webkit-appearance: none;
    }
    label.selector {
        position: relative;
        display: block;
        @include margin(0 0 12px 0);
        @include padding(13px 15px 10px);
        width: 49%;
        color: $darkblue;
        background: $white;
        border: 1px solid $gray;
        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            pointer-events: none;
        }
        &:before {
            right: 0;
            width: 49px;
            height: 100%;
        }
        &:after {
            top: 16px;
            right: 20px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 8px solid $darkblue;
        }
    }
    input[type="submit"] {
    	-webkit-appearance: none;
		background: $darkblue;
		border: 1px solid $darkblue;
		border-radius: 0;
		color: $white;
		cursor: pointer;
		font-size: rem(16);
		line-height: 1em;
		@include margin(0 0 8px 0);
        @include padding(13px 25px 12px);
        -webkit-transition: all .1s linear; 
		-moz-transition: all .1s linear; 
		-o-transition: all .1s linear; 
		transition: all .1s linear;
    }
    input[type="submit"]:hover, input[type="submit"]:focus {
    	background: $white;
    	color: $darkblue;
    }
}
.fresults {
	float: left;
	width: 100%;
	@include clearfix;
	.flinfobox {
		width: 49%;
		float: left;
		background: #e8eef2;
		.flinfoheader {
			background: #bfd0db;
			@include padding(16px 25px 10px);
			h4 {
				margin: 0;
				font-size: rem(20);
				line-height: 1em;
			}
		}
		.flinfobody {
			@include padding(15px 25px);
			p {
				margin: 0;
				span {
					font-weight: 700;
					width: 160px;
					display: inline-block;
				}
			}
		}
	}
	.flinfobox.leftbox {
		@include margin(0 1% 10px 0);
	}
	.flinfobox.rightbox {
		@include margin(0 0 10px 1%);
	} 
}
footer {
	div {
		p {
			font-size: em(12);
		}
		h4 {
			font-weight: 700;
			font-size: em(18);
		}
		@include media($mobile) {
			text-align: center;
		}
	}
	.col-9 {
		@include media($widescreen) {
			padding-left: 20px;
		}
		@include media($mobile) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.col-3 {
		@include media($tablet) { 
			padding-right: 20px;
		}
		@include media($mobile) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
.footernav {
	@include media($mobile) {
		display: none;
	}
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			margin: 0;
			padding: 3px 10px 0 5px;
			list-style: none;
			display: inline-block;
			border-right: 2px solid $lightblue;
			font-size: em(16);
			line-height: 1em;
			@include media(1000px) { 
				font-size: em(20);
			}
			@include media($tablet) { 
				font-size: em(14);
				padding: 3px 5px 0 3px;
			}
			a, a:visited {
				color: $lightblue;
			}
			a:hover, a:focus {
				color: $darkblue;
			}
		}
		li:last-child {
			padding-right: 0;
			border-right: 0;
		}
	}
}
@include media($mobile) {
	.blog .col-2, .single-post .col-2, .archive .col-2 {
		display: none;
	}
	.openNav .mobilenav {
	    left: 0;
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	    -o-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	    -webkit-transition: -webkit-transform 500ms ease;
	    -moz-transition: -moz-transform 500ms ease;
	    -o-transition: -o-transform 500ms ease;
	    transition: transform 500ms ease;
	}
	.mobilenav {
	    left: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
	    -moz-transform: translate3d(-100%, 0, 0);
	    -ms-transform: translate3d(-100%, 0, 0);
	    -o-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	    -webkit-transition: -webkit-transform 500ms ease;
	    -moz-transition: -moz-transform 500ms ease;
	    -o-transition: -o-transform 500ms ease;
	    transition: transform 500ms ease;
	}
}