@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 80px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(1180);

// Define your breakpoints
$widescreen: new-breakpoint(max-width 1180px 12);
$smallscreen: new-breakpoint(max-width 960px 10);
$tablet: new-breakpoint(max-width 796px 8);
$mobile: new-breakpoint(max-width 768px 4);